<main class="flex-grow bg-cover bg-center" style="background-image: url('../../assets/images/fondo.jpg');">
    <main class="flex-grow bg-cover bg-center" style="background-image: url('../../assets/images/fondo.jpg');">
        <div class="bg-black bg-opacity-50 h-full flex flex-col items-center justify-center text-white p-10">
          <h1 class="text-4xl font-bold mb-4">HISTORIAL DE RESERVAS</h1>
        </div>
      </main>    
    <app-container>
    <ng-scrollbar class="heightMaxScrollbar">
      <app-table [data]="data" [metaDataColumns]="MetaDataColumn">
  </app-table>
  </ng-scrollbar>
  <app-paginator
  fxLayout
  fxLayoutAlign="end center"
  [lenght]="totalRecords"
  (onChangePage)="changePage($event)"
  >
  </app-paginator>
      </app-container>
      </main>
      <div class="container">
        <h1>Haga que su viaje sea inolvidable</h1>
        <p>Conozca la experiencia de volar con UTA Airlines y organice un viaje inolvidable más allá de su vuelo.</p>
      
        <div class="grid">
          <div class="item small">
            <h4>CARACTERÍSTICAS DE LAS CABINAS</h4>
            <h3>Primera clase</h3>
            <a href="#">Más información</a>
            <img src="../../assets/images/primeraClase.avif" alt="Primera clase">
          </div>
          <div class="item small">
            <h4>CARACTERÍSTICAS DE LAS CABINAS</h4>
            <h3>Clase Business</h3>
            <a href="#">Obtener más información</a>
            <img src="../../assets/images/claseBusiness.avif" alt="Clase Business">
          </div>
          <div class="item small">
            <h4>CARACTERÍSTICAS DE LAS CABINAS</h4>
            <h3>Turista Premium</h3>
            <a href="#">Más información</a>
            <img src="../../assets/images/turistaPremium.avif" alt="Turista Premium">
          </div>
          <div class="item small">
            <h4>ESPERE ALGO EXCEPCIONAL</h4>
            <h3>Clase Turista</h3>
            <a href="#">Leer más</a>
            <img src="../../assets/images/claseTurista.avif" alt="Clase Turista">
          </div>
        </div>
      </div>
      

      
      <section class="bg-gray-800 text-white py-10">
        <div class="container mx-auto px-4 text-center">
          <h2 class="text-3xl font-bold mb-8">Contáctanos</h2>
          <p class="mb-4">Teléfono: +593 986999361</p>
          <p class="mb-4">Correo Electrónico: supportairline&#64;UTAairline.com</p>
          <div class="flex justify-center space-x-4">
            <a href="https://www.facebook.com/AmericanAirlines/" class="hover:text-blue-400"><img src="../../assets/icons/facebook.png" alt="Facebook" class="h-8"></a>
            <a href="https://x.com/AmericanAir" class="hover:text-blue-400"><img src="../../assets/icons/X.png" alt="Twitter" class="h-8"></a>
            <a href="https://www.instagram.com/americanair/?hl=es" class="hover:text-blue-400"><img src="../../assets/icons/instagram.png" alt="Instagram" class="h-8"></a>
          </div>