  <main class="flex-grow bg-cover bg-center" style="background-image: url('../../assets/images/aerolinea.jpg');">
    <div class="bg-black bg-opacity-50 h-full flex flex-col items-center justify-center text-white p-10">
      <h1 class="text-4xl font-bold mb-4">Bienvenido a UTA Airlines</h1>
      <p class="text-xl mb-8">Descubre el mundo con nosotros</p>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="Reservation()">Reservar Ahora</button>
    </div>
  </main>

  <section class="bg-white py-10">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center mb-8">Explora Nuestros Destinos</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="bg-gray-100 p-4 rounded-lg shadow-md">
          <img src="assets/images/Brasil.jpg" alt="Destino Brasil" class="rounded-lg mb-4">
          <h3 class="text-xl font-bold mb-2">Brasil</h3>
          <p class="text-gray-700">Descubre la vibrante cultura, playas impresionantes y festivales únicos en Brasil.</p>
        </div>
        <div class="bg-gray-100 p-4 rounded-lg shadow-md">
          <img src="assets/images/Paris.jpg" alt="Destino París" class="rounded-lg mb-4">
          <h3 class="text-xl font-bold mb-2">París</h3>
          <p class="text-gray-700">Explora la ciudad del amor, famosa por su arquitectura, arte y gastronomía excepcional.</p>
        </div>
        <div class="bg-gray-100 p-4 rounded-lg shadow-md">
          <img src="assets/images/Venecia.png" alt="Destino Venecia" class="rounded-lg mb-4">
          <h3 class="text-xl font-bold mb-2">Venecia</h3>
          <p class="text-gray-700">Navega por los canales de Venecia y disfruta de su historia y belleza incomparables.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-blue-100 py-10">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center mb-8">Promociones Especiales</h2>
      <div class="flex flex-wrap justify-center">
        <div class="max-w-md bg-white p-6 rounded-lg shadow-md m-4">
          <h3 class="text-xl font-bold mb-2">Verano en Europa</h3>
          <p class="text-gray-700">Aprovecha nuestros descuentos de verano para visitar las mejores ciudades europeas.</p>
        </div>
        <div class="max-w-md bg-white p-6 rounded-lg shadow-md m-4">
          <h3 class="text-xl font-bold mb-2">Escapada Tropical</h3>
          <p class="text-gray-700">Descuentos exclusivos en vuelos a destinos tropicales durante todo el año.</p>
        </div>
        <div class="max-w-md bg-white p-6 rounded-lg shadow-md m-4">
          <h3 class="text-xl font-bold mb-2">Fin de Año en Nueva York</h3>
          <p class="text-gray-700">Reserva ahora y celebra el fin de año en la icónica Times Square de Nueva York.</p>
        </div>
      </div>
    </div>
  </section>


  <section class="bg-white py-10">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center mb-8">Lo Que Dicen Nuestros Clientes</h2>
      <div class="flex flex-wrap justify-center">
        <div class="max-w-md bg-gray-100 p-6 rounded-lg shadow-md m-4">
          <p class="text-gray-700 italic">"Una experiencia increíble! El servicio a bordo fue excepcional y los destinos increíbles."</p>
          <p class="text-gray-900 font-bold mt-2">- Mateo Barona</p>
        </div>
        <div class="max-w-md bg-gray-100 p-6 rounded-lg shadow-md m-4">
          <p class="text-gray-700 italic">"Mis vacaciones en París fueron inolvidables gracias a American Airlines."</p>
          <p class="text-gray-900 font-bold mt-2">- Jairo Freire</p>
        </div>
        <div class="max-w-md bg-gray-100 p-6 rounded-lg shadow-md m-4">
          <p class="text-gray-700 italic">"Los mejores precios y el mejor servicio, siempre viajo con ellos."</p>
          <p class="text-gray-900 font-bold mt-2">- Joseph Cargua</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray-800 text-white py-10">
    <div class="container mx-auto px-4 text-center">
      <h2 class="text-3xl font-bold mb-8">Contáctanos</h2>
      <p class="mb-4">Teléfono: +593 986999361</p>
      <p class="mb-4">Correo Electrónico: supportairline&#64;UTAairline.com</p>
      <div class="flex justify-center space-x-4">
        <a href="https://www.facebook.com/AmericanAirlines/" class="hover:text-blue-400"><img src="../../assets/icons/facebook.png" alt="Facebook" class="h-8"></a>
        <a href="https://x.com/AmericanAir" class="hover:text-blue-400"><img src="../../assets/icons/X.png" alt="Twitter" class="h-8"></a>
        <a href="https://www.instagram.com/americanair/?hl=es" class="hover:text-blue-400"><img src="../../assets/icons/instagram.png" alt="Instagram" class="h-8"></a>
      </div>
    </div>
 